Repository and-tol/pf2021: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: add pictures into static
  public/assets/images/Adrian_John_Inc_prw.png
  public/assets/images/artem-pizza.png
  public/assets/images/artem-pizza2.png
  public/assets/images/bananas.jpg
  public/assets/images/forecast-react-1.jpg
  public/assets/images/kirakariproduct-list.png
  public/assets/images/kirakariproduct.png
  public/assets/images/madam_le_constructeur.png
  public/assets/images/meandr.png
  public/assets/images/prefabhome.png
  public/assets/images/timecaps.png
  public/assets/images/transporters.png
  public/assets/images/zeiss.jpg
  public/assets/images/zelta_rudens.png
Due: none

style: refactor psition of picture
  src/components/ProjectLink/ProjectLink.module.scss
Due: prettier --write, stylelint --fix

refact: in component Project set objectFit='contain' in Image
  src/components/Project/Project.tsx
  src/pages/api/projects/index.ts
  src/pages/projects/[alias].tsx
  src/pages/projects/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create basic layout of component Contact
  src/components/Contact/Contact.props.ts
  src/components/Contact/Contact.tsx
  src/components/index.ts
  src/pages/contact.tsx
  src/pages/projects/index.tsx
  src/utils/App.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: plug fontawesome
  package-lock.json
  package.json
  src/components/Contact/Contact.tsx
  src/components/Heading/Heading.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --write, stylelint --fix

init: create basic layout component Socials
  src/components/Contact/Contact.tsx
  src/components/Project/Project.props.ts
  src/components/ProjectLink/ProjectLink.props.ts
  src/components/Projects/Projects.props.ts
  src/components/Projects/Projects.tsx
  src/components/Socials/Socials.props.ts
  src/components/Socials/Socials.tsx
  src/data/index.ts
  src/data/socials.ts
  src/interfaces/index.ts
  src/interfaces/project.interface.ts
  src/interfaces/socials.interface.ts
  src/pages/api/projects/[alias].ts
  src/pages/api/projects/index.ts
  src/pages/projects/[alias].tsx
  src/pages/projects/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create api for socials
  src/components/Contact/Contact.tsx
  src/components/Socials/Socials.tsx
  src/pages/api/socials.ts
  src/pages/contact.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: create styles for form with css grid
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Contact/Contact.module.scss
  src/components/Contact/Contact.tsx
  src/components/Form/Form.module.scss
  src/components/Form/Form.props.ts
  src/components/Form/Form.tsx
  src/components/Hero/Hero.tsx
  src/components/P/P.tsx
  src/components/Socials/Socials.module.scss
  src/components/Socials/Socials.tsx
  src/data/socials.ts
  src/layout/Footer/Footer.tsx
  src/layout/Header/Header.tsx
  src/layout/Layout.props.ts
  src/layout/Layout.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects/index.tsx
  src/styles/design-tokens.scss
  src/styles/globals.scss
  src/styles/utilities.scss
Due: eslint --fix, prettier --write, stylelint --fix

refact: style form
  src/components/Form/Form.module.scss
Due: prettier --write, stylelint --fix

refact: form style
  src/components/Form/Form.module.scss
Due: prettier --write, stylelint --fix

refact: make true gradient for footer
  src/components/Contact/Contact.module.scss
  src/components/Contact/Contact.tsx
  src/components/index.ts
  src/layout/Footer/Footer.module.scss
  src/layout/Footer/Footer.props.ts
  src/layout/Footer/Footer.tsx
  src/layout/Layout.module.css
  src/layout/Layout.props.ts
  src/layout/Layout.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: fix bg in header on contact page
  src/components/Contact/Contact.module.scss
  src/components/Contact/Contact.props.ts
  src/components/Contact/Contact.tsx
  src/components/Heading/Heading.tsx
  src/components/LanguagesNav/LanguagesNav.tsx
  src/components/Socials/Socials.tsx
  src/data/socials.ts
  src/interfaces/socials.interface.ts
  src/layout/Header/Header.tsx
  src/layout/Layout.tsx
  src/pages/404.tsx
  src/pages/api/projects/[alias].ts
  src/pages/api/socials.ts
  src/pages/contact.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: equal name contact page and Contact component
  src/components/Contacts/Contacts.module.scss
  src/components/Contacts/Contacts.props.ts
  src/components/Contacts/Contacts.tsx
  src/components/Socials/Socials.tsx
  src/components/index.ts
  src/layout/Header/Header.tsx
  src/pages/contact.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: some style change
  .prettierrc
  .stylelintrc.json
Due: none

fix:style: menu color links of component navigation
  src/components/Navigation/Navigation.props.ts
  src/components/Navigation/Navigation.tsx
  src/layout/Footer/Footer.props.ts
  src/layout/Footer/Footer.tsx
  src/layout/Layout.props.ts
  src/layout/Layout.tsx
  src/styles/Navigation.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refact:style: component Button
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Hero/Hero.tsx
  src/styles/design-tokens.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: bgcolor page route projects/[alias]
  src/pages/projects/[alias].tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: container size of loading picture
  src/components/Project/Project.module.scss
  src/components/Project/Project.tsx
  src/utils/getImageDimension.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix:
  src/components/Project/Project.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: adaptive for Home page
  src/components/Hero/Hero.module.scss
  src/components/P/P.module.scss
  src/styles/design-tokens.scss
  src/styles/globals.scss
  src/styles/utilities.scss
Due: prettier --write, stylelint --fix

style: adaptive for progects page
  src/components/ProjectLink/ProjectLink.module.scss
Due: prettier --write, stylelint --fix

style: adaptive for contact page
  src/components/Contacts/Contacts.module.scss
  src/components/Form/Form.module.scss
  src/components/Form/Form.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style:refactor footer
  src/layout/Footer/Footer.module.scss
  src/layout/Layout.module.scss
  src/layout/Layout.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refact: component Button
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/styles/utilities.scss
Due: eslint --fix, prettier --write, stylelint --fix

init: creating download pdf CV file file use Next API
  package-lock.json
  package.json
  src/components/Hero/Hero.tsx
  src/data/CV_AndrejsTolstojs_e.pdf
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement simple download cv file
  public/assets/data/CV_AndrejsTolstojs_e.pdf
  src/components/Hero/Hero.tsx
  src/pages/api/data/CV_AndrejsTolstojs_e.pdf
  src/pages/api/getPDF.bak
  src/pages/api/getPDF.js
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

init: install react-hook-form
  package-lock.json
  package.json
Due: none

feat: add react hook form in component Form
  src/components/Form/Form.module.scss
  src/components/Form/Form.tsx
  src/components/Form/Form.types.ts
  src/styles/utilities.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement sending email with email.js library with next api
  package-lock.json
  package.json
  src/components/Form/Form.tsx
  src/pages/api/email.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement sending form's data throught EmailJS.com service
  package-lock.json
  package.json
  src/components/Form/Form.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{scss,css})
  stylelint --fix: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{scss,css})
